* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Inter, system-ui, sans-serif;
	background: #f8f9fa;
	color: #222;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	padding: 0.6rem 1rem;
	border-radius: 8px;
	background: #222;
	color: white;
	cursor: pointer;
	
	transition: 0.2s;
}

button:hover {
	opacity: 0.9;
}