/* Filename: src/App.css */

/* Page Wrapper for page width control. */
.page-wrapper {
	width: 100%;
	max-width: 920px;
	margin: var(--space-xl) auto;
	padding: 0 var(--space-md);
}

/* Simple Fallback Page (404, etc.) Styles. */
.not-found {
	margin-top: var(--space-xxl);
	text-align: center;
	font-size: 0.95rem;
	opacity: 0.6;
}