/* Filename: src/index.css */

:root {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}