:root {
  font-family: Inter, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background: #f8f9fa;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
